<div class="col-xs-12">
    <h2>
      Mes Appareils
    </h2>
    <p>Mise a jour : {{lastUpdate | async | date: 'y MMMM EEEE d' | uppercase}}</p>
      <ul class="list-group">
<app-appareil *ngFor="let appareil of appareils; let i = index"
[indexofAppareil]="i" 
[appareilName]="appareil.name" 
  [appareilStatus]="appareil.status"
  [id]="appareil.id"></app-appareil>
      </ul>
<button class="btn btn-success" 
[disabled]="!isAuth"
(click)="onAllumer()"
>Tout allumer</button>   
<div class="col-xs-12"></div>
<button class="btn btn-danger" 
[disabled]="!isAuth"
(click)="ofAllumer()"
>Tout Eteindre</button>  
</div>
